p, h4, textarea {
    padding: 0;
    margin: 0;
}

#container {
    max-width: 100%;
    margin-right: 100px ;
    margin-left: 100px;
    margin-top: 100px ;
}
.th {
    float: left;
}

.numberoforder, .tasknumber {
    width: 50px;
}

.title, .tasktitle, .tasktitle{
    width: 350px;
}

.status, .time, .work, .taskstatus, .tasktime, .taskwork, .taskedit {
    width: 260px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.tasknumber p, .taskstatus p, .tasktime p{
    text-align: center;
}

.numberoforder h4, .edit h4{
    text-align: center;

}

hr {
    border: none; /* Убираем границу */
    background-color: red; /* Цвет линии */
    color: red; /* Цвет линии для IE6-7 */
    height: 2px; /* Толщина линии */
}

#addtaskhref {
    margin-left: 700px;
    margin-right: 900px;
}

a {
    text-decoration: none;
}

#containertask {
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 100px ;
}

.description, .taskdescription {
    width: 400px;

}
#form {
    margin-left: 300px;
}

.tasktitle h4 {
    font-weight: normal;
}

#home {
    margin-left: 900px;
    margin-top: 100px;
    margin-right: 900px;
}

.addtask  {
    margin-left: 550px;
    margin-top: 20px;
    display: none;
}
.create {
    margin-left: 705px;
    display: none;
}

.addtask button {
    margin-left: 313px;
    margin-top: 20px;
}

#tasktime p, #time h4 {
    text-align: center;
}

#viewreport {
    margin-left: 730px;
   padding-bottom: 20px;
}

#annulment button {
    margin-left: 770px;
    display: none;
}

#containerreport {
    width: 700px;
    margin-left: 200px;
}

#form-register, #form-auth {
    width: 220px;
    z-index: 100;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    padding: 20px 20px 20px 20px;
    display: none;
    background-color: #bee5eb;
}

#form-auth {
    top: 350px;
}

#form-register {
    top: 150px;
}

#blackout {
    display: none;
    background-color: #2b542c;
    z-index: 99;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
}

#form-auth .button {
    margin-left: 50px;
}

#form-register .button {
    margin-left: 30px;
}

.imageavatar {
    width: 50px;
    height: 50px;
    display: inline;

}

.form-avatar {
    margin-left: 300px;
}

.col-md-6 .avatar {
    margin-left: 200px;
}

.col-md-6 .mssspan {
    margin-left: 250px;
}

.panel-heading p {
    text-align: center;
}

.taskedit {
    margin-left: 100px;
}

.edit {
    padding-left: 50px;
}

.work, .taskwork {
    margin-left: 50px;
}

#form-report form {
    margin-left: 470px;
    padding-bottom: 50px;
    padding-top: 50px;

}

#form-report form > input {
    margin-left: 30px;
    margin-top: 20px

}

.container .row {
    margin-top: 50px;
}