p, h4, textarea {
    padding: 0;
    margin: 0;
}

#container {
    width: 1510px;
    height: 500px;
    margin-left: 100px;
    margin-top: 100px ;
}
.th {
    float: left;
}

.numberoforder, .tasknumber {
    width: 50px;
}

.title, .tasktitle, .tasktitle{
    width: 350px;
}

.status, .time, .work, .taskstatus, .tasktime, .taskwork, .taskedit {
    width: 250px;
}



.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.tasknumber p{
    text-align: center;
}

.numberoforder h4{
    text-align: center;

}

hr {
    border: none; /* Убираем границу */
    background-color: red; /* Цвет линии */
    color: red; /* Цвет линии для IE6-7 */
    height: 2px; /* Толщина линии */
}

#addtaskhref {
    margin-left: 700px;
    margin-right: 900px;
}

a {
    text-decoration: none;
}

#containertask {
    width: 800px;
    height: 500px;
    margin-left: 150px;
    margin-top: 100px ;
}

.description, .taskdescription {
    width: 400px;

}
#form {
    margin-left: 300px;
}

.tasktitle h4 {
    font-weight: normal;
}

#home {
    margin-left: 520px;
    margin-top: 100px;
    margin-right: 900px;
}

#addtask  {
    margin-left: 420px;
    margin-top: 20px;
    display: none;
}
#create {
    margin-left: 705px;
    display: none;
}

#addtask button {
    margin-left: 313px;
    margin-top: 20px;
}

#tasktime p, #time h4 {
    text-align: center;
}

#viewreport {
    margin-left: 730px;
   padding-bottom: 20px;
}

#annulment button {
    margin-left: 640px;
    display: none;
}

#containerreport {
    width: 700px;
    margin-left: 200px;
}

#form-register, #form-auth {
    width: 200px;
    height: 410px;
    z-index: 100;
    position: absolute;
    top: 300px;
    left: 0;
    right: 0;
    margin: auto;
    padding: 20px 20px 20px 20px;
    display: none;
    background-color: yellow;
}

#blackout {
    display: none;
    background-color: #2b542c;
    z-index: 99;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
}

#form-auth button {
    margin-left: 50px;
    margin-top: 50px;
}

#form-register button {
    margin-left: 25px;
    margin-top: 5px;
}

.imageavatar {
    width: 50px;
    height: 50px;
    display: inline;

}

.form-avatar {
    margin-left: 300px;
}

.col-md-6 .avatar {
    margin-left: 200px;
}

.col-md-6 .mssspan {
    margin-left: 250px;
}

